@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem) rotateZ(0); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem) rotateZ(0); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(5rem) rotateZ(0); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  padding: 20px;
  padding-bottom: 0;
  box-sizing: border-box; }

img {
  display: block;
  width: 100%; }

body {
  background-color: #fff;
  font-family: "Lato", "Areal", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  margin-bottom: 6rem;
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: inline-block;
    padding-left: 2rem;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
    animation: moveInLeft;
    animation-duration: 1.2s; }
  .heading-primary--sub {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.6rem;
    animation: moveInRight;
    animation-duration: 1.2s; }

.heading-secondary {
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28d485);
  font-size: 3.5rem;
  font-weight: 700;
  color: transparent;
  -webkit-background-clip: text;
  transition: .3s; }
  .heading-secondary:hover {
    transform: skewY(3.5deg) skewX(6deg) scale(1.1);
    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); }

.heading-tertiaty {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-of-type) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-left-text {
  text-align: left; }

.u-right-text {
  text-align: right; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-middle {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn {
  position: relative; }
  .btn, .btn:link, .btn:visited {
    display: inline-block;
    padding: 1.5rem 4rem;
    border: none;
    border-radius: 10rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777;
    font-weight: 700; }
    .btn--white::after {
      background-color: #fff; }
  .btn--green {
    background-color: #55c57a;
    color: #fff;
    font-weight: 700; }
    .btn--green::after {
      background-color: #55c57a; }
  .btn::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 10rem;
    z-index: -1;
    transition: .4s; }
  .btn--animate {
    animation: moveInUp;
    animation-duration: 1s; }

.btn-text {
  transition: .3s; }
  .btn-text:link, .btn-text:visited {
    display: inline-block;
    padding: .5rem;
    border-bottom: 1px solid #55c57a;
    background-color: #f7f7f7;
    color: #55c57a;
    font-size: 1.6rem;
    text-decoration: none;
    backface-visibility: hidden; }
  .btn-text:hover {
    background-color: #55c57a;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn-text:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.tours__btn {
  display: inline-block;
  padding: .5rem;
  border-bottom: 1px solid #55c57a;
  color: #55c57a;
  font-size: 1.6rem;
  text-decoration: none; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }

.card {
  position: relative;
  height: 50rem; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.3);
    backface-visibility: hidden;
    overflow: hidden;
    transition: .6s ease; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28d485); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    height: 23rem;
    background-color: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.5), rgba(255, 119, 48, 0.5)), url(../img/nat-5.jpg);
      background-size: cover;
      background-position: center; }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.5), rgba(40, 212, 133, 0.5)), url(../img/nat-5.jpg);
      background-size: cover;
      background-position: center; }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.5), rgba(86, 67, 250, 0.5)), url(../img/nat-5.jpg);
      background-size: cover;
      background-position: center; }
  .card__heading {
    position: absolute;
    top: 11.5rem;
    right: 1.5rem;
    color: #fff;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase; }
    .card__heading--main {
      display: block;
      padding: 0 1rem; }
    .card__heading--sub {
      display: block;
      padding: 0 1rem; }
    .card__heading--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.9), rgba(255, 119, 48, 0.9)); }
    .card__heading--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.9), rgba(40, 212, 133, 0.9)); }
    .card__heading--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.9), rgba(86, 67, 250, 0.9)); }
  .card__list {
    width: 80%;
    margin: 0 auto;
    list-style: none;
    color: #777; }
  .card__item {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center; }
    .card__item:not(:last-child) {
      border-bottom: 1px solid #f7f7f7; }
  .card__cta {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    width: 55%;
    border-radius: 2px;
    box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.4);
    outline: 1rem solid transparent;
    outline-offset: 0;
    transition: .3s; }
    .composition__photo--p1 {
      top: -3rem; }
    .composition__photo--p2 {
      top: 0;
      right: 0; }
    .composition__photo--p3 {
      top: 12rem;
      left: 25%; }
    .composition__photo:hover {
      outline: 1rem solid #55c57a;
      outline-offset: 1.5rem;
      transform: scale(1.2) translateY(-0.5rem);
      box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.5);
      z-index: 10; }

.feature-box {
  padding: 2.5rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.6);
  transition: transform .4s;
  backface-visibility: hidden; }
  .feature-box__icon {
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28d485);
    font-size: 6rem;
    color: transparent;
    -webkit-background-clip: text; }
  .feature-box:hover {
    transform: translateY(-1.8rem); }

.form__group:not(:last-child) {
  margin-bottom: 3rem; }

.form__input {
  width: 100%;
  padding: 1.5rem 2rem 1rem;
  border-radius: 3px;
  border: none;
  border-bottom: 4px solid transparent;
  background-color: rgba(238, 238, 238, 0.5);
  font: inherit;
  font-size: 1.5rem;
  transition: .4s; }
  .form__input:focus {
    outline: none;
    border-bottom: 4px solid #55c57a;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.3); }
  .form__input:focus:invalid {
    border-bottom: 4px solid #ff7730; }

.form__label {
  display: block;
  margin-top: 0.7rem;
  margin-left: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  transition: .4s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  display: inline-block;
  width: 49%;
  margin-bottom: 3rem; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font: inherit;
  cursor: pointer; }

.form__radio-button {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  vertical-align: middle; }
  .form__radio-button::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: transparent;
    transition: .4s; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  background-color: #55c57a; }

.story {
  width: 75%;
  padding: 6rem;
  padding-left: 9rem;
  margin: 0 auto;
  margin-bottom: 6rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.3);
  transform: skewX(12deg); }
  .story__shape {
    float: left;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translate(-3rem) skewX(-12deg);
    overflow: hidden; }
  .story__user {
    width: 150%;
    transform: translate(-3.5rem) scale(1.4);
    transition: .3s; }
  .story__text {
    transform: skewX(-12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -100px;
    color: #fff;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    transition: .3s; }
  .story:hover .story__caption {
    margin-top: 0; }
  .story:hover .story__user {
    transform: translate(-3.5rem) scale(1.05);
    filter: brightness(50%); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  position: fixed;
  top: 1rem;
  right: 4rem;
  width: 6rem;
  height: 6rem;
  background-color: #55c57a;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 200;
  cursor: pointer; }

.navigation__background {
  position: fixed;
  top: 1.5rem;
  right: 4.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-image: radial-gradient(#2998ff, rgba(86, 67, 250, 0.9) 50%);
  z-index: 100;
  transition: transform .3s; }

.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  z-index: -150;
  opacity: 0;
  transition: .3s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  position: relative;
  margin: 1rem; }

.navigation__item:not(:last-child)::after {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  content: "";
  display: block;
  width: 4rem;
  height: .5rem;
  margin-left: -2rem;
  background-color: #f7f7f7;
  transition: width .3s ease-in; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  width: 32rem;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0, transparent 50%, #f7f7f7 50%, #7ed56f);
  background-size: 220%;
  transition: .3s ease-in; }

.navigation__link:hover, .navigation__link:focus {
  color: #777;
  background-position: 100%;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  outline: 0; }

.navigation__link:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .6; }

.navigation__link::after, .navigation__link::before {
  position: absolute;
  top: 50%;
  content: "";
  display: block;
  width: 0;
  height: .5rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: transparent;
  transition: width .3s ease-in; }

.navigation__link::before {
  left: -6rem; }

.navigation__link::after {
  right: -6rem; }

.navigation__link:focus::after, .navigation__link:focus::before, .navigation__link:hover::after, .navigation__link:hover::before {
  width: 4rem;
  background-color: #fff; }

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(100) translateZ(0);
  transform: scale(100) translateZ(0); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
  z-index: 150; }

.navigation__icon, .navigation__icon::after, .navigation__icon::before {
  display: inline-block;
  width: 2.8rem;
  height: 3px;
  background-color: #5643fa;
  transition: .2s; }

.navigation__icon {
  margin-top: 3rem;
  position: relative; }
  .navigation__icon::after, .navigation__icon::before {
    position: absolute;
    left: 0;
    content: ""; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon,
.navigation__button:hover .navigation__icon::after,
.navigation__button:hover .navigation__icon::before {
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  width: 3.2rem; }

.navigation__button:active .navigation__icon,
.navigation__button:active .navigation__icon::after,
.navigation__button:active .navigation__icon::before {
  width: 3rem;
  transition: none; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
  box-shadow: none; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  box-shadow: none;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  box-shadow: none;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.about {
  padding: 20rem 0;
  margin-top: -20vh;
  background-color: #f7f7f7; }

.features {
  padding: 20rem 0;
  margin-top: -10vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.5), rgba(40, 212, 133, 0.5)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(5deg); }
  .features > * {
    transform: skewY(-5deg); }

.tours {
  padding: 15rem 0 5rem;
  margin-top: -10vh;
  background-color: #f7f7f7; }

.stories {
  position: relative;
  padding: 10rem;
  padding-bottom: 5rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  overflow: hidden; }
  .stories .btn-text {
    background-color: transparent; }
    .stories .btn-text:hover {
      background-color: #55c57a; }

.book {
  padding: 10rem 15rem;
  background-image: linear-gradient(to right bottom, #7ed56f, #28d485); }
  .book-box {
    height: 50rem;
    background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.8) 55%, transparent 55%, transparent 100%), url(../img/nat-10.jpg);
    background-size: 102%;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.7); }
  .book__form {
    width: 55%;
    padding: 5rem;
    padding-top: 3rem; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.5), rgba(40, 212, 133, 0.5)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh); }
  .header__logo-box {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    width: 8rem; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc((((100% - 2 * 6rem) / 3) * 2) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((((100% - 3 * 6rem) / 4) * 2) + 6rem); }
  .row .col-3-of-4 {
    width: calc((((100% - 3 * 6rem) / 4) * 3) + 2 * 6rem); }

.footer {
  padding: 5rem 0;
  background-color: #333;
  font-size: 1.4rem; }
  .footer__logo-box {
    display: block;
    width: 15rem;
    height: 15rem;
    margin: 0 auto; }
  .footer__navi {
    display: inline-block;
    padding-top: 2rem;
    border-top: 2px solid #f7f7f7; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    padding: 0 .5rem;
    border-bottom: 2px solid transparent;
    background-color: #333;
    color: #f7f7f7;
    text-transform: uppercase;
    text-decoration: none;
    transition: .4s; }
  .footer__link:hover {
    color: #55c57a;
    transform: rotate(8deg) scale(1.5);
    border-bottom: 2px solid #55c57a; }
  .footer__link:active {
    transform: scale(1.3); }
  .footer__copyright {
    padding-top: 2rem;
    border-top: 2px solid #f7f7f7; }
