.footer {
  padding: 5rem 0;
  background-color: $color-grey-dark-2;
  font-size: 1.4rem;

  &__logo-box {
    display: block;
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
  }

  &__navi {
    display: inline-block;
    padding-top: 2rem;
    border-top: 2px solid $color-grey-light-1;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      padding: 0 .5rem;
      border-bottom: 2px solid transparent;
      background-color: $color-grey-dark-2;
      color: $color-grey-light-1;
      text-transform: uppercase;
      text-decoration: none;

      transition: .4s;
    }

    &:hover {
      color: $color-primary;
      transform: rotate(8deg) scale(1.5);
      border-bottom: 2px solid $color-primary;
    }

    &:active {
      transform: scale(1.3);
    }
  }

  &__copyright {
    padding-top: 2rem;
    border-top: 2px solid $color-grey-light-1;
  }
}