.btn {
  position: relative;
  
  &:link,
  &:visited {
    display: inline-block;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    font-size: $default-font-size;
    text-transform: uppercase;
    text-decoration: none;

    transition: .3s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    font-weight: 700;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;
    font-weight: 700;

    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 10rem;
    z-index: -1;

    transition: .4s;
  }

  &--animate {
    animation: moveInUp;
    animation-duration: 1s;
  }
}

.btn-text {
  transition: .3s;

  &:link,
  &:visited {
    display: inline-block;
    padding: .5rem;
    border-bottom: 1px solid $color-primary;
    background-color: $color-grey-light-1;
    color: $color-primary;
    font-size: $default-font-size;
    text-decoration: none;
    backface-visibility: hidden;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  }
}

.tours__btn {
  display: inline-block;
  padding: .5rem;
  border-bottom: 1px solid $color-primary;
  color: $color-primary;
  font-size: $default-font-size;
  text-decoration: none;
}