.story {
  width: 75%;
  padding: 6rem;
  padding-left: 9rem;
  margin: 0 auto;
  margin-bottom: 6rem;
  border-radius: 3px;
  background-color: rgba($color-white, .7);
  box-shadow: 0 2.5rem 5rem rgba($color-black, .3);
  transform: skewX(12deg);

  &__shape {
    float: left;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translate(-3rem) skewX(-12deg);
    overflow: hidden;
  }

  &__user {
    width: 150%;
    transform: translate(-3.5rem) scale(1.4);
    
    transition: .3s;
  }

  &__text {
    transform: skewX(-12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -100px;
    color: $color-white;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;

    transition: .3s;
  }

  &:hover &__caption {
    margin-top: 0;
  }

  &:hover &__user {
    transform: translate(-3.5rem) scale(1.05);
    filter: brightness(50%);
  }
}