*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: $color-white;
}

body {
  padding: 20px;
  padding-bottom: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}