.u-center-text { text-align: center; }
.u-left-text { text-align: left; }
.u-right-text { text-align: right; }

.u-margin-bottom-big { margin-bottom: 8rem; }
.u-margin-bottom-middle { margin-bottom: 4rem; }
.u-margin-bottom-small { margin-bottom: 1.5rem; }