.about {
  padding: 20rem 0;
  margin-top: -20vh;
  background-color: $color-grey-light-1;
}

.features {
  padding: 20rem 0;
  margin-top: -10vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.5), rgba($color-primary-dark, 0.5)),
                    url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  // background-attachment: fixed;

  transform: skewY(5deg);

  & > * {
    transform: skewY(-5deg);
  }
}

.tours {
  padding: 15rem 0 5rem;
  margin-top: -10vh;
  background-color: $color-grey-light-1;
}

.stories {
  position: relative;
  padding: 10rem;
  padding-bottom: 5rem;
  background-image: linear-gradient(rgba($color-white, .7), rgba($color-white, .7));
  overflow: hidden;

  .btn-text {
    background-color: transparent;

    &:hover {
      background-color: $color-primary;
    }
  }
}

.book {
  padding: 10rem 15rem;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

  &-box {
    height: 50rem;
    background-image: linear-gradient(100deg, rgba($color-white, .8) 55%, transparent 55%, transparent 100%),
                      url(../img/nat-10.jpg);
    background-size: 102%;
    box-shadow: 0 2rem 5rem rgba($color-black, 0.7);
  }

  &__form {
    width: 55%;
    padding: 5rem;
    padding-top: 3rem;
  }
}